<%# google map script%>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB92ws-nrbItlIwua1We3_8OLfw6ID4-7k&callback=initMap">
    </script>
    <div class="footer">
      <p>Copyright © 2017 Won Park</p>
    </div>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
