<%# google map script%>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv0Vws_lZopAqiH44JAGqOBLpCQHdiSjQ&callback=initMap">
</script>

    <div class="footer">
      <p>Copyright © 2017 Won Park</p>
    </div>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
