<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Order Helper</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Ubuntu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="/js/popper.min.js" charset="utf-8"></script>
    <script defer src="/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>
  <body>

    <div class="row navBar">
      <nav class="navbar navbar-light bg-faded justify-content-between" style="margin-left: 20px;">
      <a class="navbar-brand"  href="/"><img src="/images/logo.png" alt="Flowers in Chania"></a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" id="businessSearch" type="text" placeholder="Search Business"  onkeyup="search()">
      </form>
    </nav>

    <%# Sign in & Sign up%>
            <ul class="ml-auto"style="margin-right: 30px; margin-top: 10px">
             <% if (currentUser) { %>
               <li class="nav-item" style="display: inline-block">
                <span class="navbar-text" style="font-family: 'Poppins', sans-serif;">Hello <%= currentUser.businessName %></span>
               </li>
               <li class="nav-item ml-2" style="display: inline-block">
                 <form class="form-inline" action="/session?_method=DELETE" method="POST">
                   <input class="btn btn-primary" type="submit" value="Sign Out">
                 </form>
               </li>
             <% } else { %>
              <li class="nav-item" style="display: inline-block">
               <form class="form-inline" action="/session/new"method="GET">
                 <input class="btn btn-outline-primary"type="submit" value="Sign In">
               </form>
              </li>
              <li class="nav-item" style="display: inline-block">
                <form class="form-inline" action="/users/new" method="GET">
                  <input class="btn btn-outline-primary" type="submit" value="Sign Up">
                </form>
              </li>
              <% } %>
            </ul>

      </div>

      <div class="container-fluid mainBackground">
       <% let message; while (message = flash.shift()) { %>
         <div class="alert alert-<%= message.type %> alert-dismissible fade show">
           <%= message.message %>
           <button type="button" class="close" data-dismiss="alert">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
       <% } %>
