
/* ----------- Welcom Page css ---------------- */
.navBar {
   background-image: url("/images/welcome2.png");
   background-size: 100%;
   padding-bottom:10px;
   border-bottom: solid 4px #d8d6ff;
}
body {
background-image:  url("/images/brookeBackground.png");
background-size: 100%;
}

.welcome {
  padding:140px;
  padding-top: 100px;
}

.laptopImage {
  height: 90px;
  text-align: center;
  width:100%;
  background-image: url("/images/laptop.png");
  filter: grayscale(30%);
}

.content {
  width:100%;
  background-color: #e9e9ea;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-top: solid 3px #c23c3b;
}

.contentInside {
  margin: 10px
}

/*flash message for user*/
#topParagraph {
  color: red;
  font-size: 12px;
  margin-bottom:5px;
  opacity:.6;"
}

.alert-dismissible.fade.show {
    padding:0;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 5px;
    background-color: white;
}

.beginButtonForm {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding:50px;
  background-image: url("/images/welcomeBackground.png");
  background-repeat: no-repeat;
  background-color:#c13b3b;
}

.beginButton {
  background-color: #fbd54a;
  color: #c23c3b;
  padding-right: 50px;
  padding-left: 50px;
  border:solid 10px #fbd54a !important;
  font-size:20px;
}

.beginButton:hover {
  background-color:#ffd400;
  border:solid 10px #ffd400 !important;
}

.welcomeContainer {
  background-color: #ffd400;
}

/* --------------- Index Page ------------- */
#indexSection {
  width: 80%;
  margin: auto;
  padding-bottom:100px;
}

/*index message*/
.message {
  margin:2px;
	background-color: white;
  border-radius: 4px;
}

.list_dropdown {
  background-color: #f9fdff;
  border: solid 1px #dfdfdf;
  padding-top:0;
}

.businessRowBottomDeco {
  height: 4px;
  background-color:#e5e9ee;
}

.addButton {
  margin: auto;
  margin-top: 15px;
  margin: 0;
  margin-left: 10px;
}

#addSupplier {
  color: white;
  background-color: #1579f6;
  padding: 6px;
  border-radius: 3px;
  text-decoration: none;
}

.checkOrder {
 float:right;
 display:none;
 margin-right: 5px;
 text-decoration: none !important;
}

.orderRow {
  margin-top: 10px;
  border-radius: 3px;
}

.names {
  margin-top: 20px;
}

.businessRow:hover {
   background-color: #f5fffd
}

.orderSendAndReceived {
  float:right;
  color: #df2525;
  font-size: 25px;
}

/* --------------- edit form -------------- */
.orderEditView {
  padding-top: 8px;
  border-bottom: solid 1px #e6e6e6;
  margin: 1px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#editForm {
  border: solid 1px #dfdfdf;
  border-radius: 5px;
  padding-top: 20px;
  background-color: white;
}

.deleteRelationship {
  margin-right: 20px;
}

/* check restaurant view*/
.restaurantInfoBox {
  height: 100%;
  width: 100%;
  border: solid 2px white;
  padding: 20px;
}

.restaurantInfo {
  background-color: #9a2f2f;
  color: white;
  padding: 20px;
  border-right: solid 3px white;
}

.mapInfo {
  background-color: #f4f4f4;
  padding: 20px;
  border:solid #9a2f2f;
}

#map {
    height:400px;
    width:400px;
    margin: auto;
    border:solid 1px #9a2f2f;
}

/* ------------ footer ----------- */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-image: url("/images/brooke-lark-295590.png");
   color: black;
   text-align: right;
   padding: 11px;
   border-top: solid 4px #d8d6ff;
}
