.navBar {
   /*background-color: #c6eef2;*/
   background-image: url("/images/welcome2.png");
   background-size: 100%;
}

.welcome {
   /*background-image: url("/images/food.png");
   background-size: 100%;*/
   padding:150px;
}

.businessRow:hover {
   background-color: #c6eef2;
}

/* welcome page button*/
.beginButton {
  display: flex;
  justify-content: center;
}

/*index message*/
.message {
  border: solid 2px #d4e7f2;
	background-color: white;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

#editForm {
  border: solid 1px #dfdfdf;
  border-radius: 5px;
  padding-top: 20px;
}

.addButton {
  margin: auto;
  margin-top: 15px;
  margin: 0;
  margin-left: 10px;
}

#map {
    height:400px;
    width:400px;
    margin: auto;
}

.orderRow {
  margin-top: 5px;
  padding-top: 10px;
  border: solid 2px #ecf3f8;
  background-color: white;"
}
