<%- include('../partials/header') %>
<div class="welcome">
    <div class="container">
        <div class="header">
        </div>
            <div id="slider">
                <ul class="slides">
                    <li class="slide slide1">slide1</li>
                    <li class="slide slide2">slide2</li>
                    <li class="slide slide3">slide3</li>
                    <li class="slide slide4">slide4</li>
                    <li class="slide slide5">slide5</li>
                    <!-- As soon as slide gets to 6, slide goes back to one -->
                    <li class="slide slide1">slide1</li>
                    <!-- class name can be chosen either .slide or .slide1 -->
                </ul>
            </div>
            <br>
            <form class="form-inline beginButton" action="/businesses" method="GET">
                  <input class="btn btn-outline-primary" type="submit" value="Begin">
            </form>

    </div>
</div>
<%- include('../partials/footer') %>
