<%- include('../partials/header') %>
<div class="welcome">
    <div class="container">
            <br>
            <form class="form-inline beginButton" action="/businesses" method="GET">
                  <input class="btn btn-outline-primary" type="submit" value="Begin">
            </form>

    </div>
</div>
<%- include('../partials/footer') %>
