<%- include('../partials/header') %>
<br>
<div class="container" style="width:60%">
      <form class="d-flex flex-column" action="/session" method="POST">

        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" type="text" placeholder="Email" name="email">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" type="password" placeholder="Password" name="password">
        </div>
        <br>
        <br>
        <input
          class="btn btn-outline-primary align-self-center"
          type="submit"
          value="Sign In"
          style="width:50%"
        />
      </form>
</div>
<%- include('../partials/footer') %>
