<%- include('../partials/header') %>
<br>
<div class="container" style="width:60%">
    <form class="d-flex flex-column" action="/users" method="POST">

      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-user-o fa-fw" aria-hidden="true"></i></span>
        <input class="form-control" type="text" placeholder="business Name" name="businessName">
      </div>
      <br>
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
        <input class="form-control" type="text" placeholder="Email" name="email">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
        <input class="form-control" type="password" placeholder="Password" name="password">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
        <input class="form-control" type="password" placeholder="Confirm Password" name="confirmPassword">
      </div>
      <%# address %>
      <br>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
        <input class="form-control" type="text" placeholder="Street" name="street">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
        <input class="form-control" type="text" placeholder="City" name="city">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
        <input class="form-control" type="text" placeholder="Province" name="province">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
        <input class="form-control" type="text" placeholder="Postal" name="postal">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
        <input class="form-control" type="text" placeholder="Country" name="country">
      </div>
      <br>
      <%# Boolean %>
      <div class="input-group">
        <label for="businessRadio">Business</label>
        <input class="form-control" type="radio" id="businessRadio" name="userType" value="business" checked>

        <label for="supplierRadio">Supplier</label>
        <input class="form-control" type="radio" id="supplierRadio" name="userType" value="supplier">
      </div>
      <br>
      <br>
      <input
        class="btn btn-outline-primary align-self-center"
        type="submit"
        value="Sign Up"
        style="width: 50%"
      />
    </form>
</div>
<%- include('../partials/footer') %>
